# Define each variable appropriately and rename this file to .env, it will be used by compose.yaml

# The user ID the container(s) will run as
UID=1000
# The group ID the container(s) will run as
GID=1000

# Base path on the host for all persistent Docker data (volumes)
DOCKER_VOLUMES=/path/to/your/docker/volumes

# Database credentials
DB_USER=forgejo
DB_PASSWORD='your_secret_password'

# Forgejo application settings
APP_NAME='Forgejo Hosting'
DOMAIN=git.yourdomain.com
ROOT_URL=https://${DOMAIN}/

# SMTP settings for sending emails
SMTP_HOST=your.smtp.server
SMTP_PORT=465
SMTP_USER=forgejo@yourdomain.com
SMTP_PASSWORD='your_smtp_password'
SMTP_FROM="${APP_NAME} <${SMTP_USER}>"

# Comma separated list of hosts Forgejo is allowed to send webhooks to
WEBHOOK_ALLOWED_HOST_LIST=jenkins.yourdomain.com